<a id="section-one"></a>
**<font color = DarkBlue size = 5>Import related libraries</font>**

First of all we have to import all the needed libraries:


- Numpy: a library used for working with arrays. It also has functions for working in domain of linear algebra, fourier transform, and matrices.

- Pandas: a library offers data structures and operations for manipulating numerical tables and time series.

- Pandas_Profiling: an open source Python library with which we can quickly do an exploratory data analysis with just a few lines of code.

- Matplotlib: a plotting library for the Python programming language and its numerical mathematics extension NumPy

- Sklearn:Scikit-learn is a free software machine learning library for the Python programming language.

In [2]:
# import libraries
import numpy as np
import pandas as pd 
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

<a id="section-two"></a>
**<font color = DarkBlue size = 5>Read data and Inspect Data</font>**

In [3]:
#load dataset
df = pd.read_csv("owid-covid-data.csv")

In [4]:
#Show first five rows of data
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [5]:
# Information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132644 entries, 0 to 132643
Data columns (total 65 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 132644 non-null  object
 1   continent                                124170 non-null  object
 2   location                                 132644 non-null  object
 3   date                                     132644 non-null  object
 4   total_cases                              125410 non-null  float64
 5   new_cases                                125408 non-null  float64
 6   new_cases_smoothed                       124365 non-null  float64
 7   total_deaths                             114293 non-null  float64
 8   new_deaths                               114489 non-null  float64
 9   new_deaths_smoothed                      124365 non-null  float64
 10  total_cases_per_million                  124766 non-null  float64
 11  new_cases_per_million                    124764 non-null  float64
 12  new_cases_smoothed_per_million           123726 non-null  float64
 13  total_deaths_per_million                 113662 non-null  float64
 14  new_deaths_per_million                   113858 non-null  float64
 15  new_deaths_smoothed_per_million          123726 non-null  float64
 16  reproduction_rate                        104426 non-null  float64
 17  icu_patients                             15947 non-null   float64
 18  icu_patients_per_million                 15947 non-null   float64
 19  hosp_patients                            18692 non-null   float64
 20  hosp_patients_per_million                18692 non-null   float64
 21  weekly_icu_admissions                    1340 non-null    float64
 22  weekly_icu_admissions_per_million        1340 non-null    float64
 23  weekly_hosp_admissions                   2126 non-null    float64
 24  weekly_hosp_admissions_per_million       2126 non-null    float64
 25  new_tests                                55090 non-null   float64
 26  total_tests                              55345 non-null   float64
 27  total_tests_per_thousand                 55345 non-null   float64
 28  new_tests_per_thousand                   55090 non-null   float64
 29  new_tests_smoothed                       66893 non-null   float64
 30  new_tests_smoothed_per_thousand          66893 non-null   float64
 31  positive_rate                            62869 non-null   float64
 32  tests_per_case                           62209 non-null   float64
 33  tests_units                              68912 non-null   object
 34  total_vaccinations                       33391 non-null   float64
 35  people_vaccinated                        31843 non-null   float64
 36  people_fully_vaccinated                  28854 non-null   float64
 37  total_boosters                           5855 non-null    float64
 38  new_vaccinations                         27787 non-null   float64
 39  new_vaccinations_smoothed                59510 non-null   float64
 40  total_vaccinations_per_hundred           33391 non-null   float64
 41  people_vaccinated_per_hundred            31843 non-null   float64
 42  people_fully_vaccinated_per_hundred      28854 non-null   float64
 43  total_boosters_per_hundred               5855 non-null    float64
 44  new_vaccinations_smoothed_per_million    59510 non-null   float64
 45  stringency_index                         108057 non-null  float64
 46  population                               131704 non-null  float64
 47  population_density                       120074 non-null  float64
 48  median_age                               114425 non-null  float64
 49  aged_65_older                            113159 non-null  float64
 50  aged_70_older                            113800 non-null  float64
 51  gdp_per_capita                           115174 non-null  float64
 52  extreme_poverty                          77021 non-null   float64
 53  cardiovasc_death_rate                    114669 non-null  float64
 54  diabetes_prevalence                      118421 non-null  float64
 55  female_smokers                           89329 non-null   float64
 56  male_smokers                             88037 non-null   float64
 57  handwashing_facilities                   57713 non-null   float64
 58  hospital_beds_per_thousand               104208 non-null  float64
 59  life_expectancy                          123313 non-null  float64
 60  human_development_index                  114771 non-null  float64
 61  excess_mortality_cumulative_absolute     4656 non-null    float64
 62  excess_mortality_cumulative              4656 non-null    float64
 63  excess_mortality                         4656 non-null    float64
 64  excess_mortality_cumulative_per_million  4656 non-null    float64
dtypes: float64(60), object(5)
memory usage: 65.8+ MB

In [6]:
# Pandas Profiling
rep = ProfileReport(df)
rep

In [7]:
# View column data types
df.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 65, dtype: object

Result:
- There are 65 columns of object and float datatypes

In [8]:
# Check Duplicates
df.duplicated().sum()

0

Result:
- Dataset don't contains any duplicate rows.

In [9]:
# Get statistical data about each column
df.describe(include="all")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,132644,124170,132644,132644,1.254100e+05,125408.000000,124365.000000,1.142930e+05,114489.000000,124365.000000,...,89329.000000,88037.000000,57713.000000,104208.000000,123313.000000,114771.000000,4656.000000,4656.000000,4656.000000,4656.000000
unique,237,6,237,681,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,ARG,Africa,Peru,2021-07-14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,681,32809,681,234,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,2.038985e+06,8353.112888,8370.887531,5.045250e+04,184.004114,168.641989,...,10.589701,32.748528,50.865182,3.029443,73.260475,0.726207,32052.628565,8.667889,15.883224,781.114218
std,NaN,NaN,NaN,NaN,1.163910e+07,43547.802492,43035.659063,2.589636e+05,871.591559,817.796127,...,10.502683,13.512865,31.821458,2.455593,7.532205,0.150042,90422.651800,15.939853,31.062810,1166.907295
min,NaN,NaN,NaN,NaN,1.000000e+00,-74347.000000,-6223.000000,1.000000e+00,-1918.000000,-232.143000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-31959.400000,-27.350000,-95.920000,-1749.128494
25%,NaN,NaN,NaN,NaN,2.388000e+03,3.000000,10.286000,8.000000e+01,0.000000,0.143000,...,1.900000,21.600000,20.859000,1.300000,67.920000,0.602000,-167.750000,-0.972500,-0.835000,-43.100925
50%,NaN,NaN,NaN,NaN,2.714850e+04,104.000000,130.143000,7.410000e+02,2.000000,2.000000,...,6.300000,31.400000,49.839000,2.400000,74.620000,0.744000,2315.900000,5.215000,6.465000,364.906628
75%,NaN,NaN,NaN,NaN,2.641010e+05,1077.000000,1133.429000,6.468000e+03,22.000000,18.571000,...,19.300000,41.300000,83.241000,4.000000,78.740000,0.845000,20475.200000,13.580000,22.300000,1351.300112
max,NaN,NaN,NaN,NaN,2.519418e+08,907963.000000,826457.571000,5.079990e+06,18007.000000,14703.286000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,870830.300000,106.840000,373.610000,6157.832804

Result:
- Dataset contains 65 columns and almost each column conatins NaN

In [10]:
# Draw Histogram to show distribution of data for each feature
df.hist(figsize=(35,35))
plt.suptitle('Histograms', fontsize=18);
plt.savefig("Histogram.png")

Result:
- A Histogram of all the 65 columns

In [12]:
#copy dataset into another variable
df_original=df

In [13]:
#copy dataset bcz sometime we have to again start from this point 
df=df_original

In [11]:
df.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 65, dtype: object

Result:
- Dataset have different data types

In [12]:
# we don't need this column because we will follow number of rows for time and date
df=df.drop('date', axis=1)
df.shape

(132644, 64)

Result:
- After droping the column 'date' we have 132644 rows and 64 columns

In [13]:
# remove this colum also
df=df.drop('location', axis=1)
df.shape

(132644, 63)

Result:
- After droping the column 'location' we have 132644 rows and 63 columns

In [14]:
# remove this colum also
df=df.drop('continent', axis=1)
df.shape

(132644, 62)

Result:
- After droping the column 'continent' we have 132644 rows and 62 columns

In [15]:
# remove this colum also
df=df.drop('iso_code', axis=1)
df.shape

(132644, 61)

Result:
- After droping the column 'iso-code' we have 132644 rows and 61 columns

In [16]:
# remove this colum also
df=df.drop('tests_units', axis=1)
df.shape

(132644, 60)

Result:
- After droping the column 'tests_units' we have 132644 rows and 60 columns

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132644 entries, 0 to 132643
Data columns (total 60 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   total_cases                              125410 non-null  float64
 1   new_cases                                125408 non-null  float64
 2   new_cases_smoothed                       124365 non-null  float64
 3   total_deaths                             114293 non-null  float64
 4   new_deaths                               114489 non-null  float64
 5   new_deaths_smoothed                      124365 non-null  float64
 6   total_cases_per_million                  124766 non-null  float64
 7   new_cases_per_million                    124764 non-null  float64
 8   new_cases_smoothed_per_million           123726 non-null  float64
 9   total_deaths_per_million                 113662 non-null  float64
 10  new_deaths_per_million                   113858 non-null  float64
 11  new_deaths_smoothed_per_million          123726 non-null  float64
 12  reproduction_rate                        104426 non-null  float64
 13  icu_patients                             15947 non-null   float64
 14  icu_patients_per_million                 15947 non-null   float64
 15  hosp_patients                            18692 non-null   float64
 16  hosp_patients_per_million                18692 non-null   float64
 17  weekly_icu_admissions                    1340 non-null    float64
 18  weekly_icu_admissions_per_million        1340 non-null    float64
 19  weekly_hosp_admissions                   2126 non-null    float64
 20  weekly_hosp_admissions_per_million       2126 non-null    float64
 21  new_tests                                55090 non-null   float64
 22  total_tests                              55345 non-null   float64
 23  total_tests_per_thousand                 55345 non-null   float64
 24  new_tests_per_thousand                   55090 non-null   float64
 25  new_tests_smoothed                       66893 non-null   float64
 26  new_tests_smoothed_per_thousand          66893 non-null   float64
 27  positive_rate                            62869 non-null   float64
 28  tests_per_case                           62209 non-null   float64
 29  total_vaccinations                       33391 non-null   float64
 30  people_vaccinated                        31843 non-null   float64
 31  people_fully_vaccinated                  28854 non-null   float64
 32  total_boosters                           5855 non-null    float64
 33  new_vaccinations                         27787 non-null   float64
 34  new_vaccinations_smoothed                59510 non-null   float64
 35  total_vaccinations_per_hundred           33391 non-null   float64
 36  people_vaccinated_per_hundred            31843 non-null   float64
 37  people_fully_vaccinated_per_hundred      28854 non-null   float64
 38  total_boosters_per_hundred               5855 non-null    float64
 39  new_vaccinations_smoothed_per_million    59510 non-null   float64
 40  stringency_index                         108057 non-null  float64
 41  population                               131704 non-null  float64
 42  population_density                       120074 non-null  float64
 43  median_age                               114425 non-null  float64
 44  aged_65_older                            113159 non-null  float64
 45  aged_70_older                            113800 non-null  float64
 46  gdp_per_capita                           115174 non-null  float64
 47  extreme_poverty                          77021 non-null   float64
 48  cardiovasc_death_rate                    114669 non-null  float64
 49  diabetes_prevalence                      118421 non-null  float64
 50  female_smokers                           89329 non-null   float64
 51  male_smokers                             88037 non-null   float64
 52  handwashing_facilities                   57713 non-null   float64
 53  hospital_beds_per_thousand               104208 non-null  float64
 54  life_expectancy                          123313 non-null  float64
 55  human_development_index                  114771 non-null  float64
 56  excess_mortality_cumulative_absolute     4656 non-null    float64
 57  excess_mortality_cumulative              4656 non-null    float64
 58  excess_mortality                         4656 non-null    float64
 59  excess_mortality_cumulative_per_million  4656 non-null    float64
dtypes: float64(60)
memory usage: 60.7 MB

In [18]:
df.dtypes

total_cases                                float64
new_cases                                  float64
new_cases_smoothed                         float64
total_deaths                               float64
new_deaths                                 float64
new_deaths_smoothed                        float64
total_cases_per_million                    float64
new_cases_per_million                      float64
new_cases_smoothed_per_million             float64
total_deaths_per_million                   float64
new_deaths_per_million                     float64
new_deaths_smoothed_per_million            float64
reproduction_rate                          float64
icu_patients                               float64
icu_patients_per_million                   float64
hosp_patients                              float64
hosp_patients_per_million                  float64
weekly_icu_admissions                      float64
weekly_icu_admissions_per_million          float64
weekly_hosp_admissions                     float64
weekly_hosp_admissions_per_million         float64
new_tests                                  float64
total_tests                                float64
total_tests_per_thousand                   float64
new_tests_per_thousand                     float64
new_tests_smoothed                         float64
new_tests_smoothed_per_thousand            float64
positive_rate                              float64
tests_per_case                             float64
total_vaccinations                         float64
people_vaccinated                          float64
people_fully_vaccinated                    float64
total_boosters                             float64
new_vaccinations                           float64
new_vaccinations_smoothed                  float64
total_vaccinations_per_hundred             float64
people_vaccinated_per_hundred              float64
people_fully_vaccinated_per_hundred        float64
total_boosters_per_hundred                 float64
new_vaccinations_smoothed_per_million      float64
stringency_index                           float64
population                                 float64
population_density                         float64
median_age                                 float64
aged_65_older                              float64
aged_70_older                              float64
gdp_per_capita                             float64
extreme_poverty                            float64
cardiovasc_death_rate                      float64
diabetes_prevalence                        float64
female_smokers                             float64
male_smokers                               float64
handwashing_facilities                     float64
hospital_beds_per_thousand                 float64
life_expectancy                            float64
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
dtype: object

In [19]:
#count NaN 
df.isna().sum()

total_cases                                  7234
new_cases                                    7236
new_cases_smoothed                           8279
total_deaths                                18351
new_deaths                                  18155
new_deaths_smoothed                          8279
total_cases_per_million                      7878
new_cases_per_million                        7880
new_cases_smoothed_per_million               8918
total_deaths_per_million                    18982
new_deaths_per_million                      18786
new_deaths_smoothed_per_million              8918
reproduction_rate                           28218
icu_patients                               116697
icu_patients_per_million                   116697
hosp_patients                              113952
hosp_patients_per_million                  113952
weekly_icu_admissions                      131304
weekly_icu_admissions_per_million          131304
weekly_hosp_admissions                     130518
weekly_hosp_admissions_per_million         130518
new_tests                                   77554
total_tests                                 77299
total_tests_per_thousand                    77299
new_tests_per_thousand                      77554
new_tests_smoothed                          65751
new_tests_smoothed_per_thousand             65751
positive_rate                               69775
tests_per_case                              70435
total_vaccinations                          99253
people_vaccinated                          100801
people_fully_vaccinated                    103790
total_boosters                             126789
new_vaccinations                           104857
new_vaccinations_smoothed                   73134
total_vaccinations_per_hundred              99253
people_vaccinated_per_hundred              100801
people_fully_vaccinated_per_hundred        103790
total_boosters_per_hundred                 126789
new_vaccinations_smoothed_per_million       73134
stringency_index                            24587
population                                    940
population_density                          12570
median_age                                  18219
aged_65_older                               19485
aged_70_older                               18844
gdp_per_capita                              17470
extreme_poverty                             55623
cardiovasc_death_rate                       17975
diabetes_prevalence                         14223
female_smokers                              43315
male_smokers                                44607
handwashing_facilities                      74931
hospital_beds_per_thousand                  28436
life_expectancy                              9331
human_development_index                     17873
excess_mortality_cumulative_absolute       127988
excess_mortality_cumulative                127988
excess_mortality                           127988
excess_mortality_cumulative_per_million    127988
dtype: int64

Result:
- Each column contain NaN values

In [20]:
# replace NaN with 0
df =df.fillna(0)

Result:
- Replace NaN with zero becaue there should not be NaN values

In [21]:
#count NaN 
df.isna().sum()

total_cases                                0
new_cases                                  0
new_cases_smoothed                         0
total_deaths                               0
new_deaths                                 0
new_deaths_smoothed                        0
total_cases_per_million                    0
new_cases_per_million                      0
new_cases_smoothed_per_million             0
total_deaths_per_million                   0
new_deaths_per_million                     0
new_deaths_smoothed_per_million            0
reproduction_rate                          0
icu_patients                               0
icu_patients_per_million                   0
hosp_patients                              0
hosp_patients_per_million                  0
weekly_icu_admissions                      0
weekly_icu_admissions_per_million          0
weekly_hosp_admissions                     0
weekly_hosp_admissions_per_million         0
new_tests                                  0
total_tests                                0
total_tests_per_thousand                   0
new_tests_per_thousand                     0
new_tests_smoothed                         0
new_tests_smoothed_per_thousand            0
positive_rate                              0
tests_per_case                             0
total_vaccinations                         0
people_vaccinated                          0
people_fully_vaccinated                    0
total_boosters                             0
new_vaccinations                           0
new_vaccinations_smoothed                  0
total_vaccinations_per_hundred             0
people_vaccinated_per_hundred              0
people_fully_vaccinated_per_hundred        0
total_boosters_per_hundred                 0
new_vaccinations_smoothed_per_million      0
stringency_index                           0
population                                 0
population_density                         0
median_age                                 0
aged_65_older                              0
aged_70_older                              0
gdp_per_capita                             0
extreme_poverty                            0
cardiovasc_death_rate                      0
diabetes_prevalence                        0
female_smokers                             0
male_smokers                               0
handwashing_facilities                     0
hospital_beds_per_thousand                 0
life_expectancy                            0
human_development_index                    0
excess_mortality_cumulative_absolute       0
excess_mortality_cumulative                0
excess_mortality                           0
excess_mortality_cumulative_per_million    0
dtype: int64

Result:
- After replacing NaN, there is no NaN values

In [22]:
# checking the min and max values
df['new_deaths'].max()

18007.0

Result:
- In a single day, 18007 is number maxium of deaths

In [23]:
# Max value at index
df['new_deaths'].idxmax()

130561

Result:
- Number of row in dataset which contains 18007 death per day

In [24]:
# min value
df['new_deaths'].min()

-1918.0

Result:
- In a single day, -1918 is minimum number of deaths but it is wrong. Because minimum death should be zero, not less than zero

In [25]:
# min value at index
df['new_deaths'].idxmin()

111824

Result:
- Number of row in dataset which contains -1918 death per day

In [26]:
# total number of negative values
sum(n < 0 for n in df['new_deaths'].values.flatten())

124

Result:
- Total number of negative values in 'new_deaths'

In [27]:
# replace negative values to 0
df['new_deaths']=df['new_deaths'].clip(lower=0)

Result:
- Replace the all the negative values in 'new_deaths' with 0

In [28]:
# again check total number of negative values
sum(n < 0 for n in df['new_deaths'].values.flatten())

0

Result:
- Total number of negative values in 'new_deaths' after replacing with 0

In [29]:
# convert complete dataset to float
df =df.astype(float)

Result:
- Convert dataset to float data type for further used by Algorithms

In [30]:
df.dtypes

total_cases                                float64
new_cases                                  float64
new_cases_smoothed                         float64
total_deaths                               float64
new_deaths                                 float64
new_deaths_smoothed                        float64
total_cases_per_million                    float64
new_cases_per_million                      float64
new_cases_smoothed_per_million             float64
total_deaths_per_million                   float64
new_deaths_per_million                     float64
new_deaths_smoothed_per_million            float64
reproduction_rate                          float64
icu_patients                               float64
icu_patients_per_million                   float64
hosp_patients                              float64
hosp_patients_per_million                  float64
weekly_icu_admissions                      float64
weekly_icu_admissions_per_million          float64
weekly_hosp_admissions                     float64
weekly_hosp_admissions_per_million         float64
new_tests                                  float64
total_tests                                float64
total_tests_per_thousand                   float64
new_tests_per_thousand                     float64
new_tests_smoothed                         float64
new_tests_smoothed_per_thousand            float64
positive_rate                              float64
tests_per_case                             float64
total_vaccinations                         float64
people_vaccinated                          float64
people_fully_vaccinated                    float64
total_boosters                             float64
new_vaccinations                           float64
new_vaccinations_smoothed                  float64
total_vaccinations_per_hundred             float64
people_vaccinated_per_hundred              float64
people_fully_vaccinated_per_hundred        float64
total_boosters_per_hundred                 float64
new_vaccinations_smoothed_per_million      float64
stringency_index                           float64
population                                 float64
population_density                         float64
median_age                                 float64
aged_65_older                              float64
aged_70_older                              float64
gdp_per_capita                             float64
extreme_poverty                            float64
cardiovasc_death_rate                      float64
diabetes_prevalence                        float64
female_smokers                             float64
male_smokers                               float64
handwashing_facilities                     float64
hospital_beds_per_thousand                 float64
life_expectancy                            float64
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
dtype: object

In [31]:
# handle NaN and infinite values
df = df.reset_index()

Result:
- Handle NaN value if there occur in dataset

In [32]:
# here save a column as our label or target-column
target_col=np.array(df['new_deaths'])

Result:
- Set 'new_deaths' column as our target column because we are going to train an algorithm to predict the number new death which may be in near future.

In [33]:
# remove column
df=df.drop('new_deaths', axis=1)
df.shape

(132644, 60)

Result:
- Becaue this column is target column therefore we keep it 'Y' and other dataset to 'X'

In [34]:
df = df.reset_index()

In [35]:
#copy dataset for forther use
mydataset2 = df;
mydataset2.shape

(132644, 61)

In [36]:
#saving dataset columns as list because we will use it for feature selection process
mydataset_list=list(df.columns)

In [37]:
#convert dataset into array
mydataset=np.array(df)

In [38]:
#copy dataset which is in watt and array form
copy_mydataset=mydataset;

In [39]:
# split to 80% for training and 20% for testing 
mydataset_train, mydataset_test, target_col_train, target_col_test=train_test_split(mydataset,target_col, test_size=0.20, random_state=7)

Result:
- Split the dataset into train and test.

In [40]:
#print into of spliting data
print('Training Features Shape:', mydataset_train.shape)
print('Training Labels Shape:', target_col_train.shape)
print('Testing Features Shape:', mydataset_test.shape)
print('Testing Labels Shape:', target_col_test.shape)
print('Dataset Shape:', mydataset.shape)

Training Features Shape: (106115, 61)
Training Labels Shape: (106115,)
Testing Features Shape: (26529, 61)
Testing Labels Shape: (26529,)
Dataset Shape: (132644, 61)

In [ ]:
#............Fit Classifier....#
nNNAC = KNeighborsClassifier(n_neighbors=20) 
nNNAC.fit(mydataset_train, target_col_train)

Result:
- Apply K Nearest Neighbor classifier with 'n_neighbors=20', we can update this hyperparameter value.
- Train with training sample

In [ ]:
# predict at test data
predictions1 = nNNAC.predict(mydataset_test)

Result:
- Input unseen data to algorithm

In [ ]:
# Plot of load forcasted by K-NN Classifier    
plt.figure()
plt.ylabel('Death');
plt.xlabel('Days'); 
plt.plot(target_col_test,'-g',label='Actual'); 
plt.plot(predictions1,'-r',label='KNN')
plt.title('Death_K-NN')
plt.gca().set_xlim(left=1); plt.legend(fancybox=True, framealpha=0.5)
plt.gca().legend(('Actual','KNN'));
plt.savefig('DeathForecastingKNN.png',bbox_inches='tight',transparent='true')
plt.show();

In [ ]:
# evaluation matrices
print(metrics.accuracy_score(target_col_test, predictions1))

0.4849787025519243

Result:
- Predicted Accuracy
- Because dataset is very large and contains numerious number of eatures, therefore algorithm show low accuracy

<a id="subsection-three"></a>
**<font color = Teal size = 4 >Summary</font>**

**We lead dataset, analyse, generate a consize report, clean, pre-process, split into 80% and 20% ratio for algorithm training and testing, train K Nearest Neighbor algorithm, and evaluate the algorithm. It can also predict the number of upcomming new cases. This is beneficial for governemtn to predict the new cases and death and take appropriate action in order to overcome that figure**